{%- macro render(model) -%}
{{- model.doc | comment | newline}}
#[derive(Debug, Serialize, Deserialize, Clone, PartialEq, Eq)]
pub struct {{model.title}} {
    {%- for prop in model.props %}
    {{- prop.doc | comment | newline | indent(n=4) }}
    {{- prop.annotation | newline | indent(n=4) }}
    pub {{ prop.title }}: {{ prop.type_ }},
    {%- endfor %}
}
{%- endmacro render -%}
